body{
    color:navy;
    padding: 0;
    font-family:helvetica;
    margin: 0;
}

h1{
    color:dodgerblue;
    font-family: fantasy;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    
    
}

/*============ header  ============*/

#header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 80px;
    background-repeat: repeat-x;
    background-image: url('Images/MALL%20HEADER%20IMAGE1.jpg');
}

#header img{
    display: block;
    margin: auto;
    height: 50%;
    padding-top: 30px;
}

/*============ Tabs-Top ============*/

#tabs-top{
    position: fixed;
    top: 80px;
    z-index:500;
    width: 100%;
    height: 40px;
    background-color: firebrick;
}

#tabs-top a{
    float: left;
    display: block;
    width: 33%;
    height: 35px;
    font-weight: 700;
    color:cyan;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}

/*============ Main-Home ============*/
main-home{
    margin-top: 120px;
    
}




/*============ Tabs-Bottom  ============*/

#tabs-bottom{
    position: fixed;
    bottom:0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: firebrick;     
}


#tabs-bottom a{
    float: left;
    display: block;
    width: 33%;
    height: 35px;
    font-weight: 700;
    color:cyan;
    text-align: center;
    text-decoration: none;
    padding-top: none;  
}

/*============ Main ============*/
#main{
margin-top:119px;
    background:url('Images/MALL%20BACKGROUND%20IMAGE.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: repeat-y;
}

#content{
  padding-top: 1px;
    padding-bottom: 50px;   
}

a.info-box{
text-decoration: none;
    background: rgba(193, 66, 66, 0.5);
    width: 90%;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 1px;
}


.info-box img{
    height: 70px;
    margin: 10px;
    float: left;  
}
.info-box h3{
    
    padding: 0;
    margin-bottom: 0;
    width: 90%;
    color:crimson;
     
}
.info-box p{
    margin: 0;
    padding: 0;
    width: 90%;
    color:darkmagenta;
    
}
.info-box img.right{
    float: right;
    margin-top: 25px;
    height: 40px; 
}

#info-box-full{
    background-color:rgba(255, 255, 255, .8);
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 1px;
}

#info-box-ful img{
 width: 100%;   
}
#info-box-full h3{
    text-align: center; 
}



input{
    width: 50%;
    height: 25px;
    margin: 12px 0;
    border: 1px solid  #00bfff;  
}

textarea{
    width: 50%;
    height: 25px;
    margin: 12px 0;
    border: 1px solid  #00bfff;
    
}

/*============ Bottom-Tab  ============*/
.bottom{
    display: block;
    background-color:burlywood;
    text-decoration: none;
    text-align: center;
    color: cyan;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0;
    padding: 8px 0; 
}
















